altgraph==0.17.4
certifi==2025.7.14
charset-normalizer==3.4.2
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
macholib==1.16.3
packaging==25.0
pillow==11.3.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
requests==2.32.4
setuptools==78.1.1
urllib3==2.5.0
wheel==0.45.1
yt-dlp==2025.7.21
